# ============================================================
# .env - SEMUA VARIABEL RAHASIA & ENVIRONMENT (JANGAN DI COMMIT KE GIT!)
# ============================================================
# Application
ENV_NAME=production
LOG_LEVEL=INFO
APP_PORT=8000

# Security (Gunakan API KEY untuk proteksi endpoint dari publik)
API_KEY=BNSP-SuperSecretKey-AIEngineer-2026-ChangeThisInProd!
JWT_SECRET=ganti-dengan-random-string-panjang-min-32-char-xxx

# Database (jika model butuh simpan log prediksi)
DATABASE_URL=postgresql://bnsp_user:passwordRahasia@localhost:5432/ai_mlops_db

# Provider LLM (jika service pakai LLM Modul 9)
# OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxx
# ANTHROPIC_API_KEY=sk-ant-xxxxxx

# MLOps
MLFLOW_TRACKING_URI=http://localhost:5000
